= javascript_include_tag "//www.google.com/jsapi", "chartkick"
%div.container
  %div.row
    %div.col-sm-3
      %h1= "#{@bill.bill_id} Polls"
      %small= link_to "Back to #{@bill.bill_id}", bill_path(@bill)
      %h2 National
      %p= "#{number_to_percentage(@user_yes_percent * 100, precision: 0)} Yes"
      %p= "#{number_to_percentage(@user_no_percent * 100, precision: 0)} No"
      %p= "#{@user_poll_total} Total Votes"
    %div.col-sm-4
      = pie_chart UserPoll.where(:bill_id => @bill).group(:user_vote).count, colors: ["green", "red"]

  %div.row
    %div.col-sm-4
      %h2 See Polls By District
      %ul
        - @districts.each do |district|
          %li= link_to "#{district.state} District #{district.district}", bill_user_poll_path(@bill, district.zip)


  %div.row
    %div.col-sm-8
      %br

      = link_to 'New User poll', new_bill_user_poll_path
