%h1 Listing bills

%table
  %tr
    %th Bill
    %th Bill uri
    %th Title
    %th Sponsor uri
    %th Introduced date
    %th Cosponsors
    %th Committees
    %th Latest major action date
    %th Latest major action
    %th
    %th
    %th

  - @bills.each do |bill|
    %tr
      %td= bill.bill_id
      %td= bill.bill_uri
      %td= bill.title
      %td= bill.sponsor_uri
      %td= bill.introduced_date
      %td= bill.cosponsors
      %td= bill.committees
      %td= bill.latest_major_action_date
      %td= bill.latest_major_action
      %td= link_to 'Show', bill
      %td= link_to 'Edit', edit_bill_path(bill)
      %td= link_to 'Destroy', bill, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Bill', new_bill_path
