%div.container
  %div.row
    %div.col-sm-8

      %p#notice= notice

      %h1= @bill.bill_id
      %table.table.table-bordered.table-condensed.table-hover
        %tr
          %th Title
          %td= @bill.title
        %tr
          %th URL
          %td= link_to @bill.bill_uri, @bill.bill_uri
        %tr
          %th Introduced
          %td= @bill.introduced_date
        %tr
          %th Last action
          %td= @bill.latest_major_action_date
        %tr
          %th Last action
          %td= @bill.latest_major_action
        %tr
          %th Summary
          %td= simple_format(@bill.summary)
        %tr
          %th Text
          %td= simple_format(@bill.body)

    %div.col-sm-4.text-center
      %h2 Vote On This Bill
      %small ...and we'll compare your vote against your representative
      %br
      %br
      %div.row
        = form_for [@bill, @user_poll] do |f|
          = f.submit 'Vote Yes', :class => 'btn btn-success', :disabled => user_voted?
          = f.submit 'Vote No', :class => 'btn btn-danger', :disabled => user_voted?

      %small Log in to vote now!

      %div.row.bill-votes
        %div.col-sm-12
          %span.label.label-success 59% For
          %span.label.label-danger 41% Against
          %br
          = link_to "See My District", "#"

= link_to 'Edit', edit_bill_path(@bill)
\|
= link_to 'Back', bills_path
