%div.container
  %div.row
    %div.col-sm-8

      %p#notice= notice

      %h1= @bill.bill_id
      %table.table.table-bordered.table-condensed.table-hover
        %tr
          %th Title
          %td= @bill.title
        %tr
          %th URL
          %td= @bill.bill_uri
        %tr
          %th Introduced
          %td= @bill.introduced_date
        %tr
          %th Last action
          %td= @bill.latest_major_action_date
        %tr
          %th Last action
          %td= @bill.latest_major_action
        %tr
          %th Summary
          %td= simple_format(@bill.summary)
        %tr
          %th Text
          %td= simple_format(@bill.body)

    %div.col-sm-4
      %h2 Vote On This Bill

= link_to 'Edit', edit_bill_path(@bill)
\|
= link_to 'Back', bills_path
